<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />



</head>
<body>
<a href="/auth/facebook">Log in with facebook</a>
<a href="/auth/google">Log in with google</a>



    {{{body}}}
</body>


</html>
