<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
    {{#unless error}}
      <div class="page-header">
        <h3>Messages received</h3>
      </div>

      {{#each messages}}
      <div class="well">
        <form action="/exercise2/delete/{{_id}}" method="post" class="form-inline">
          <button class="btn btn-danger pull-right">Delete</button>
        </form>
        <p><strong>From</strong> {{from.username}}</p>
        <p><strong>To</strong> {{../user.username}}</p>
        <p><strong>Message</strong> {{{body}}}</p>
      </div>
      {{/each}}
    {{/unless}}
    <!-- MESSENGER END -->
  </div>
</div>
